{% extends 'base.html'%}

{% block content%}

<!-- memebers list in a navbar form -->
<div class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="#" class="navbar-brand ">{{room|title}} Room</a>
        <br>
        <!-- list users in the room in a whatsapp like format -->
        <ul class="nav navbar-nav navbar-right users-list">
            <li class="users">
                {{users|join:", "|truncatechars:40}}
            </li>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right ">
            <li><a href="#">Logged in as {{ username|title }}</a></li>
            <li><a href="{%url 'home'%}">Leave Room <i class="fa fa-sign-out"></i></a></li>
        </ul>
    </div>
</div>

<!-- Display the texts -->
<div class="row">
    <div class="col-md-12">
        <!-- created on badge -->

        <div class="messages" id="display">
            <div class="badge badge-pill badge-primary">Created on {{ room.created_on|date }}</div>
            {% if texts %}
            {% for text in texts %}
            {% if text.username == username %}
            <div class="message message-out">
                <div class="user">
                    <p>You</p>
                </div>
                <div class="message-body">
                    <div class="message-text">
                        <p>{{ text.text }}</p>
                    </div>
                    <div class="message-timestamp">
                        <p>{{ text.timestamp }}</p>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="message message-in">
                <div class="user">
                    <p>{{ text.username|title }}</p>
                </div>
                <div class="message-body">
                    <div class="message-text">
                        <p>{{ text.text }}</p>
                    </div>
                    <div class="message-timestamp">
                        <p>{{ text.timestamp }}</p>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
            {% else %}
            <div class="message message-in">
                <div class="user">
                    <p>ChatBot</p>
                </div>
                <div class="message-body">
                    <div class="message-text">
                        <p>There are no messages in this room</p>
                    </div>
                    <div class="message-timestamp">
                        <p>Now</p>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="col-md-12">
        <form id="post-form">
            {% csrf_token %}
            <div class="form-group input-group input-group-lg" id="input">
                <input type="hidden" name="username" id="username" value="{{username}}" class="form-control">
                <input type="hidden" name="room_name" id="room_name" value="{{room}}" class="form-control">
                <input type="text" name="text" id="text" class="form-control" placeholder="Type your message here..."
                    required=>
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">
                        <i class="fa fa-send"></i>
                    </button>
                </span>
            </div>
        </form>
    </div>
    <!-- icon to scroll over the messages to the bottom -->
    <div class="col-md-12">
        <div class="scroll-down" id = "scroll-down">
            <i class="fa fa-arrow-down"></i>
        </div>
    </div>

</div>

<script type="text/javascript">
    // Scroll to the bottom of the page
    var objDiv = document.getElementById("display");
    objDiv.scrollTop = objDiv.scrollHeight;


    // Scroll to the bottom of the page in animated way when the user clicks on the scroll down icon
    $('#scroll-down').click(function () {
        var objDiv = document.getElementById("display");
        $(objDiv).animate({
            scrollTop: objDiv.scrollHeight
        }, 2000);
    });

    // Send the message to the server
    $(document).on('submit', '#post-form', function (event) {
        event.preventDefault();
        var username = $('#username').val();
        var room_name = $('#room_name').val();
        var text = $('#text').val();
        const url = "{% url 'send' room %}";
        console.log(username, room_name, text);
        $.ajax({
            url: url,
            type: "POST",
            accept: "application/json",
            action: "post",
            data: {
                username: username,
                room_name: room_name,
                text: text,
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
            success: function (data) {
                $('#text').val('').focus();
                console.log(data);
            },
        });
        // get the messages
        function getMessages() {
            setInterval(function () {
                $.ajax({
                    type: 'GET',
                    url: "{% url 'get_messages' room %}",
                    success: function (response) {
                        console.log(response);
                        $("#display").empty();
                        for (var key in response.texts) {
                            // var temp="<div class='messages darker'><b>"+response.texts[key].username+"</b><p>"+response.texts[key].value+"</p><span class='time-left'>"+response.texts[key].time_stamp+"</span></div>";
                            if (response.texts[key].username == username) {
                                var temp =
                                    "<div class='message message-out'><div class='user'><p>You</p></div><div class='message-body'><div class='message-text'><p>" +
                                    response.texts[key].text +
                                    "</p></div><div class='message-timestamp'><p>" +
                                    response.texts[key].timestamp +
                                    "</p></div></div></div>";
                            } else {
                                var temp =
                                    "<div class='message message-in'><div class='user'><p>" +
                                    response.texts[key].username +
                                    "</p></div><div class='message-body'><div class='message-text'><p>" +
                                    response.texts[key].text +
                                    "</p></div><div class='message-timestamp'><p>" +
                                    response.texts[key].timestamp +
                                    "</p></div></div></div>";
                            }
                            $("#display").append(temp);
                        }
                    },
                    error: function (response) {
                        console.log('An error occured')
                    }
                });
            }, 1000);
        }
        getMessages();
        // automatically scroll to the last message sent
        var objDiv = document.getElementById("display");
        objDiv.scrollTop = objDiv.scrollHeight;
    });

</script>
{% endblock content%}