{% extends 'base.html'%}

{% block content%}

<!-- memebers list in a navbar form -->
<div class="row">
    <div class="col-md-12">
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand ">{{room|title}} Room</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    {% for text in texts %}
                    <li><a href="#">{{ text.username }}</a></li>
                    {% endfor %}
                </ul>
                <ul class="nav navbar-nav navbar-right ">
                    <li><a href="#">Logged in as {{ username|title }}</a></li>
                    <li><a href="{%url 'home'%}">Leave Room <i class="fa fa-sign-out"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Display the messages -->
<div class="row">
    <div class="col-md-12">
        <div class="messages">
            {% for text in texts %}
            {% if text.username == username %}
            <div class="message message-out">
                <div class="user">
                    <p>You</p>
                </div>
                <div class="message-body">
                    <div class="message-text">
                        <p>{{ text.text }}</p>
                    </div>
                    <div class="message-timestamp">
                        <p>{{ text.timestamp }}</p>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="message message-in">
                <div class="user">
                    <p>{{ text.username|title }}</p>
                </div>
                <div class="message-body">
                    <div class="message-text">
                        <p>{{ text.text }}</p>
                    </div>
                    <div class="message-timestamp">
                        <p>{{ text.timestamp }}</p>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <form id="post-form" action="">
            {% csrf_token %}
            <div class="form-group input-group input-group-lg" id="input">
                <input type="text" name="text" id="text" class="form-control"
                    placeholder="Type your message here...">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">
                        <i class="fa fa-send"></i>
                    </button>
                </span>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    //ajax to send messages
    $(document).on('submit', '#post-form', function (e) {
        e.preventDefault();
        $.ajax({
            url: '/send/',
            type: 'POST',
            data: {
                room_name: $('#room_name').val(),
                username: $('#username').val(),
                text: $('#text').val(),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function (data) {
                console.log('You have sent a message');
            }
        });
        $('#text').val('');
    });
</script>


{% endblock content%}